# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Folders
obj/
bin/logs/
bin/linux-arm/logs/
.vs/

# Files
config.json
packages.config
App.config
importantInfo.txt

# Formats
*.obj
*.sln
*.tmp
*.tmp_proj
*.scc