# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Folders
.vs/
obj/
src/
host/
bin/logs/
bin/games/

# Files
config.json
packages.config
App.config
importantInfo.txt

# Formats
*.zip
*.obj
*.sln
*.tmp
*.tmp_proj
*.scc
.leu
